p {
    text-indent: 1em;
}

body {
    width: min(45rem, 80vw);
}

.intro {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #ddffcc;
    font-weight: bold;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: lightgrey;
}

iframe {
    width: 100%;
    aspect-ratio: 4/3;
}